html, body {
  margin: 0;
  background: #2C3251;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
header {
  text-align: center;
  border-bottom: 1px dotted rgba(255,255,255,0.3);
  height: 50px;
  padding: 12px;
  box-sizing: border-box;
}
header img {
  height: 100%;
}
main, main > section {
}
.transaction-inputs {
  height: 40%;
  display: block;
}
a.lend {
  display: block;
  color: #fff;
  background: #FF7676;
  text-decoration: none;
  line-height: 45px;
  width: 200px;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  font-weight: 700;
}
#chart {
  height: 270px;
  bottom: 0;
  right: 0;
  left: 0;
}
#chart .highcharts-label.highcharts-data-label.highcharts-data-label-color-0.valuehighcharts-tracker span {
  left: 35px !important;
}
.image {
  position: relative;
  width: 100vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #242945;
  height: 100%;
}
.image .link {
  display: block;
  position: absolute;
}

.trend {
  width: 100vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #242945;
  min-height:270px;
}

.overlay {
  z-index: 10;
  display: block;
  position: fixed;
  height: 100%;
  bottom: 0;
  top: 50px;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.5);
  visibility:hidden;
}

.check {
  top: 25%;
  position: absolute;
  left: 25%;
  width: 50%;
}

.taux {
  z-index: 2;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.taux img {
    position: relative;
    top: 45%;
    width: 20%;
    left: 80%;
}
