<html>
  <body>
    <div class="image">
      <img width="100%" src="./assets/img/lending_process2-top.png" />
      <div class="trend" >
        <rate-evolution ng-if="transactions" ng-model="transactions"></rate-evolution>
      </div>
      <img width="100%" src="./assets/img/lending_process2-btm.png" />
      <a class="link" href="./#!/lending3" style="top: 89%;left: 0;width: 100%;height: 10%;"></a>
    </div>
    <div class="taux">
      <img src="./assets/img/taux.png" />
    </div>
  </body>
</html>
